body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para inputs e selects, removendo as setas para inputs do tipo number */
.form-group input, 
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Remove a seta (spinner) dos inputs numéricos para navegadores baseados em WebKit */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove a seta dos inputs numéricos para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}
